<h3>ngx-select-ex with NO typeahead</h3>
    <div class="example-block">
        <div class="example-block__item">
            <ngx-select [allowClear]="false"
                        [items]="items"
                        [noAutoComplete]="true"
                        [disabled]="ngxDisabled"
                        [(ngModel)]="ngxValue"
                        placeholder="No city selected">
            </ngx-select>
            <p></p>
            <div class="alert alert-secondary">
                <pre>{{ngxValue | json}}</pre>
            </div>
            <div>
                <button class="btn btn-primary" (click)="ngxDisabled = !ngxDisabled">
                    {{ngxDisabled ? 'Enable' : 'Disable'}}
                </button>
            </div> 
        </div>
    </div>

<hr>
<hr>
    

    <h3>ngx-select-ex with typeahead</h3>
    <div class="example-block">
        <div class="example-block__item">
            <ngx-select [formControl]="ngxControl"
                        [allowClear]="false"
                        [defaultValue]="doNgxDefault()"
                        [items]="items"
                        placeholder="No city selected"
                        (typed)="inputTyped('ngx-select', $event)"
                        (focus)="doFocus()"
                        (blur)="doBlur()"
                        (open)="doOpen()"
                        (close)="doClose()"
                        (select)="doSelect($event)"
                        (remove)="doRemove($event)">
            </ngx-select>
            <p></p>
            <div class="alert alert-secondary">
                <pre>{{ngxControl.value | json}}</pre>
            </div>
            <div>
                <button type="button" class="btn btn-primary"
                        (click)="ngxControl.disabled? ngxControl.enable(): ngxControl.disable()">
                    {{ngxControl.disabled ? 'Enable' : 'Disable'}}
                </button>
            </div>
        </div>
    </div>